<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 자바스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div layout:fragment="content" class="content">
        <article>
            <div class="container" role="main">
                <h2>게시글 쓰기</h2>
                <div class="mb-3">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="20" placeholder="이름을 입력해 주세요">
                </div>
                <br>
                <div class="mb-3">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" maxlength="20"  placeholder="제목을 입력해 주세요">
                </div>
                <br>
                <div class="mb-3">
                    <label for="content">내용</label>
                    <textarea class="form-control" rows="2" id="content" name="content" maxlength="50" placeholder="내용을 입력해 주세요"></textarea>
                </div>
                <br>
                <br>
                <div>
                    <button type="button" class="btn btn-sm btn-primary" id="btnSave">저장</button>
                    <button onclick="location.href='/board/list.wep'" type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
                </div>
            </div>
        </article>
    </div>

    <script type="text/javascript">
        $(document).ready(() => {
            //게시글 등록
            $("#btnSave").click(() => {
                let params = {
                    name: $.trim($("#name").val())
                    , title: $.trim($("#title").val())
                    , content: $.trim($("#content").val())
                };

                if(params.name === ""){
                    alert("이름을 입력해주세요.");
                    return $("#name").focus();
                }else if(params.title === ""){
                    alert("제목을 입력해주세요.");
                    return $("#title").focus();
                }else if(params.content === ""){
                    alert("내용을 입력해주세요.");
                    return $("#content").focus();
                }

                $.ajax({
                    type: "POST"
                    , url: "/board/api/save"
                    , dataType: "json"
                    , data: JSON.stringify(params)
                    , contentType: "application/json"
                    , success: function (result) {
                        alert("글 등록 완료.");
                        location.href = "/board/list.wep";
                    },
                    error: function (request, status, error) {
                        console.log(error);
                    }
                })
            });
        });
    </script>
</body>
</html>
